@mixin clearfix {
    &::after{
        content:"";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}// position center of page 

// media query manager
/* BREAKPIONTS
0-600px             phone
600-900px           tablet portrait
900-1200px          tablet landscape
[1200- 18000] is where our normal styles apply

1800px +            Big desktop
*/

//1em= 16px


/*
$breakpiont argument choices:
-phone
-tab-port
-tab-land
-big-desktop
when designing for mobile widh first you start with lower width and when starting with desktop you start with higher width

ORDER: base +typographpy> general layout + grid > page layout > components
*/
@mixin respond($breakpoint){
@if $breakpoint == phone{
    @media(max-width:37.5em){@content}; // 600px / 16px

}
@if $breakpoint == tab-port{
    @media(max-width:56.3em){@content}; // 900px / 16px

}
@if $breakpoint == tab-land{
    @media(max-width:75em){@content}; // 1200px / 16px

}
@if $breakpoint == big-desktop{
    @media(min-width:112.6em){@content}; // 1800px / 16px

}
}